.main {
  background-image: url(./bg.svg);
  background-repeat: no-repeat;
  padding-top: 200px;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textAndSearch {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top {
  display: flex;
}
.connectionsImg {
  height: 540px;
  width: 510px;
}
.bot {
  display: flex;
  gap: 40px;
}
.text {
  width: 621px;
}
.text h1 {
  font-family: Raleway;
  font-size: 58px;
  font-weight: 700;
  line-height: 81.6px;
  text-align: left;
  color: #fff;
  margin: 20px 0;
}
.text h3 {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #fff;
  margin: 20px 0;
}
.mainTablet {
  background-image: url(./bgTablet.svg);
  background-repeat: no-repeat;
  padding-top: 150px;
  display: flex;
  gap: 85px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textAndSearchTablet {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.topTablet {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
}
.connectionsImgTablet {
  width: 355px;
  height: 376px;
}
.botTablet {
  display: flex;
  box-sizing: border-box;

  gap: 20px;
  padding: 20px;
  width: 100%;
  overflow-x: auto;
}

.botTablet::-webkit-scrollbar {
  display: none;
}

.textTablet {
  width: 375px;
}
.textTablet h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;

  color: #fff;
}
.textTablet h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;

  color: #fff;
}
.mainMobile {
  background-image: url(./bgTablet.svg);
  background-repeat: no-repeat;
  padding-top: 110px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textAndSearchMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.topMobile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.connectionsImgMobile {
  height: 360px;
  width: 310px;
}
.botMobile {
  display: flex;
  box-sizing: border-box;
  gap: 20px;
  padding: 20px;
  width: 100%;
  overflow-x: auto;
}

.botMobile::-webkit-scrollbar {
  display: none;
}
.textMobile {
  width: 318px;
}
.textMobile h1 {
  font-family: Raleway;
  font-size: 33px;
  font-weight: 700;
  line-height: 40.8px;
  text-align: center;

  color: #fff;
}
.textMobile h3 {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;

  color: #fff;
}
