.main {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  border-radius: 24px 0px 0px 24px;
  box-shadow: 0px 10px 20px 0px #00122608;
  padding: 20px;
  background-color: #fff;
  transition: right 0.5s ease;
}

.logoAndCross {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cross {
  cursor: pointer;
}
.number {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000;
  text-decoration: none;
}
