.main {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 640px;
  gap: 2px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  box-shadow: 5px 50px 70px 10px #00000012;
  padding: 1px;
}
.searchTablet {
  width: 328px;
  height: 44px;
}
.searchMobile {
  width: 310px;
  height: 44px;
}
.search input {
  border: none;
  padding-left: 50px;
  border-radius: 50px;

  width: 100%;

  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  height: 100%;
}
.searchTablet input {
  border: none;
  padding-left: 50px;
  border-radius: 50px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
}
.searchMobile input {
  padding-left: 20px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
}
.search input:focus {
  outline: none;
}

.buttonSearch {
  height: 40px;
  width: 40px;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border-radius: 50%;
  box-shadow: 0px 8px 30px 1px #3b77e633;
  background: linear-gradient(311.67deg, #3b77e6 2.28%, #305aea 78.75%);
  border: 2px solid transparent;
}
.buttonSearch svg {
  height: 15px;
  width: 15px;
}

.buttonSearchTablet {
  height: 30px;
  width: 30px;
}
.buttonSearchTablet svg {
  height: 9px;
  width: 9px;
}

.buttonSearchMobile {
  height: 30px;
  width: 30px;
}
.buttonSearchMobile svg {
  height: 9px;
  width: 9px;
}

.buttonSearch:hover {
  border: 1px solid;
  background: white;
  box-shadow: 0px 8px 30px 1px #305aea33;
  border-color: #305aea;
  transition: 0.3s ease;
}

.buttonSearch:hover svg path {
  fill: #305aea;
  transition: 0.3s ease;
}
.suggestions {
  display: none;
  position: absolute;
  top: 62px;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  gap: 8px;
  background-color: #fff;
  border: solid 1px #e6e6e6;
  border-radius: 30px;
  padding: 25px;
}
.suggestionsActive {
  display: flex;
}
.suggestions p {
  cursor: pointer;
  margin: 0;

  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  height: 100%;
}
.suggestions a {
  cursor: pointer;
  margin: 0;

  text-decoration: none;
  color: #000;

  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  height: 100%;
}
