.main {
  margin: 50px auto 0 auto;
  max-width: 1250px;
}
.sliderContainer {
  width: 1250px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
