.main {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  width: 65%;
}
.mobileMain {
  flex-direction: column;
  gap: 25px;
}
.navElement {
  flex-shrink: 0;

  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-decoration: none;

  transition: 0.1s ease;
}
.colorDesk {
  color: #fff;
}
.colorMobile {
  color: #000;
}
.navElement:hover {
  font-weight: 700;
}

.active {
  border-bottom: 1px solid #fff;
}
