.rangeSliderContainer {
  width: 290px;

  margin: auto;
}
.nameSlider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.4px;
  text-align: left;
  color: #1d1d1d;
}
.dashName {
  height: 2px;
  width: 20px;
  background-color: #9f9f9f;
}
.rangeSlider {
  position: relative;
  height: 40px;
}

.rangeInput {
  position: absolute;
  width: 100%;
  height: 40px;
  -webkit-appearance: none;
  background: transparent;
  pointer-events: none;
  margin: 0;
}

.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  width: 11px;
  height: 11px;
  background: linear-gradient(83.24deg, #284fdc -22.56%, #578fec 106.47%);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.rangeInput::-moz-range-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  background: linear-gradient(83.24deg, #284fdc -22.56%, #578fec 106.47%);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.sliderTrack {
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(83.24deg, #284fdc -22.56%, #578fec 106.47%);

  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.priceDisplay {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: space-between;
  margin-top: 10px;
}
.priceMax,
.priceMin {
  background-color: #f3f3f3;
  padding: 10px 0 10px 24px;
  width: 126px;
  border-radius: 10px;

  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  letter-spacing: 0.01em;
  text-align: left;
}
.dash {
  height: 2px;
  width: 11px;
  background-color: #9f9f9f;
}
